@model WebQLKSORACLE.Models.CtPdp
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}


<!-- breadcrumb area start -->
<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Danh sách đặt phòng</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Thông tin đặt phòng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->


<table class="table table-hover no-margin">
    <tbody>
        <tr>
            <td>Tên khách hàng: </td>
            <td>@Model.MaDpNavigation.MaKhNavigation.TenKh</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Model.MaDpNavigation.MaKhNavigation.EmailKh</td>
        </tr>
        <tr>
            <td>Tên phòng: </td>
            <td>@Model.MaPNavigation.TenP</i></td>
        </tr>
        <tr>
            <td>Ngày đến: </td>
            <td>@Model.MaDpNavigation.NgaydenDp</td>
        </tr>
        <tr>
            <td>Ngày đi: </td>
            <td>@Model.MaDpNavigation.NgaydiDp</td>
        </tr>
        <tr>
            <td>Số lượng ngày ở: </td>
            <td>@Model.SlNgay</td>
        </tr>
        <tr>
            <td>Tổng tiền: </td>
            <td>@Model.Gia.Value.ToString("#,###")</td>
        </tr>

    </tbody>
</table>

<div class="form-group">
    <a class="btn btn-default" asp-action="Index">Quay lại danh sách đặt phòng</a>
</div>

