@model WebQLKSORACLE.Models.PhieuDatPhong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuDatPhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgaydenDp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaydenDp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaydiDp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaydiDp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayLapP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayLapP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SlNgay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlNgay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTtdpNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTtdpNavigation.MaTtdp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaDp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
