
@model WebQLKSORACLE.ModelViews.DatPhongView
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Phong allPhong = ViewBag.AllPhong;
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="~/images/TenP/@Model.phongs.Hinh" alt="@Model.phongs.TenP">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>@Model.phongs.TenP</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <a href="#">Booking Now</a>
                            </div>
                        </div>
                        <h2>@Model.phongs.MaLpNavigation.Dongia.Value.ToString("#,###")<span>/@Model.phongs.MaLpNavigation.MaDvtNavigation.TenDvt</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Diện tích:</td>
                                    <td>@Model.phongs.MaLpNavigation.DienTich</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Số lượng người:</td>
                                    <td>@Model.phongs.MaLpNavigation.SlNguoi</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Loại giường:</td>
                                    <td>@Model.phongs.MaLpNavigation.LGiuong</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Chi tiết:</td>
                                    <td>@Model.phongs.MaLpNavigation.ChitietLp</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">
                            @Html.Raw(Model.phongs.ChitietP)
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form asp-controller="Phongs" method="post">
                        <input hidden asp-for="phongs.MaP" />
                        <div class="check-date">
                            <label for="date-in">Ngày đến:</label>
                            <input asp-for="NgaydenDp" type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Ngày đi:</label>
                            <input asp-for="NgaydiDp" type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                            <span asp-validation-for="NgaydiDp" class="text-danger"></span>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Nhập Email</label>
                            <input asp-for="EmailKh" type="text">
                            <span asp-validation-for="EmailKh" class="text-danger"></span>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Họ tên:</label>
                            <input asp-for="TenKh" type="text">
                            <span asp-validation-for="TenKh" class="text-danger"></span>
                        </div>
                        <div class="check-date">
                            <label for="guest">Số ngày ở:</label>
                            <input asp-for="SlNgay" type="text" id="so-ngay" readonly>
                        </div>

                        <button type="submit">Đặt phòng ngay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->
@section Scripts{
    <script>
        $(document).ready(function () {
            // Lắng nghe sự kiện thay đổi giá trị của các trường ngày đến và ngày đi
            $("#date-in, #date-out").change(function () {
                var ngayDen = $("#date-in").val();
                var ngayDi = $("#date-out").val();

                // Kiểm tra xem cả hai trường ngày đã được điền đầy đủ hay chưa
                if (ngayDen !== "" && ngayDi !== "") {
                    var dateDen = new Date(ngayDen);
                    var dateDi = new Date(ngayDi);
                    // Tính số ngày bằng cách lấy hiệu giữa ngày đi và ngày đến
                    var soNgay = dateDi.getTime() - dateDen.getTime();
                    soNgay = Math.floor(soNgay / (1000 * 60 * 60 * 24));

                    // Cập nhật giá trị cho trường số lượng ngày
                    $("#so-ngay").val(soNgay);
                }
            });
        });
    </script>
    
}
