@model WebQLKSORACLE.Models.Phong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Danh sách phòng</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>View phòng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<table class="table table-hover no-margin">
    <tbody>

        <tr>
            <td>Tên phòng: </td>
            <td>@Model.TenP</i></td>
        </tr>
        <tr>
            <td>Loại phòng </td>
            <td>@Model.MaLpNavigation.TenLp</td>
        </tr>
        <tr>
            <td>Giá: </td>
            <td>@Model.MaLpNavigation.Dongia</td>
        </tr>
        <tr>
            <td>Ảnh</td>
            <td>
                <img width="200" height="200" src="~/images/TenP/@Model.Hinh" alt="@Model.TenP" />
            </td>
        </tr>
        <tr>
            <td>Tình trạng phòng: </td>
            <td>@Model.MattPNavigation.TenttP</td>
        </tr>
        <tr>
            @if (@Model.Trangthai == true)
            {
                <span class="notice notice-blue">Active</span>
            }
            else
            {
                <span class="notice notice-danger">Block</span>
            }
        </tr>
        <tr>
            <td>Chi tiết: </td>
            <p>@Html.Raw(Model.ChitietP)</p>
        </tr>

    </tbody>
</table>