@model List<Khachhang>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.MaKh</td>
            <td>@item.TenKh</td>
            <td>@item.SdtKh</td>
            <td>@item.EmailKh</td>
            <td>@item.DiachiKh</td>
            <td>
                @if (item.TrangthaiKh == true)
                {
                    <span class="notice notice-blue">Active</span>
                }
                else
                {
                    <span class="notice notice-danger">Block</span>
                }
            </td>
            <td width="230px">
                @*<a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Details" asp-route-id="@item.MaKh">View</a>*@
                <a class="btn btn-primary btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Edit" asp-route-id="@item.MaKh">Edit</a>
                <a class="btn btn-success btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Delete" asp-route-id="@item.MaKh">Delete</a>
            </td>
        </tr>
    }
}