@model WebQLKSORACLE.Models.Nhanvien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/ADMIN/Views/Shared/_ADMINLayout.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Danh sách nhân viên</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Xóa nhân viên</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->

<h3>Bạn có chắc muốn xóa @Model.TenNv ? </h3>
<table class="table table-hover no-margin">
    <tbody>
        <tr>
            <td>ID: </td>
            <td>@Model.MaNv</td>
        </tr>
        <tr>
            <td>Tên nhân viên: </td>
            <td>@Model.TenNv</i></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Model.EmailNv</td>
        </tr>
        <tr>
            <td>Số điện thoại: </td>
            <td>@Model.SdtNv</td>
        </tr>


        <tr>
            <td>Role: </td>
            <td>@Model.Role.TenR</td>
        </tr>

    </tbody>
</table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNv" />
        <input type="submit" value="Delete" class="btn btn-default" /> 
        <a class="btn btn-default" asp-action="Index">Quay lại danh sách nhân viên</a>
    </form>

